<!DOCTYPE html>
<html>
	<head>
		<title>Angular JS</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
		<script src="modules/app.js"></script>
	</head>
	<body ng-app="myApp" ng-controller="MyController">
		<div>
			<button ng-click="toggleSpy()">Click here</button>
			<p ng-show="isSpy">Spy Mode Engaged</p>
			<p ng-hide="isSpy">Spy Mode Disengaged</p>
		</div>
		<p ng-hide="isSpy">My name is {{fname + ' ' + lname}}</p>
		<p ng-hide="isSpy">{{fullname()}}</p>
		<p ng-show="isSpy">The codename is {{codeName}}</p>		
		<div ng-repeat="employee in employees | limitTo:2 | orderBy:'-salary'">
		    <p>--------------------------------</p>
			<p>
				firstname is {{employee.fname | uppercase | limitTo:4}}
			</p>
			<p>
				lastname is {{employee.lname | lowercase}}
			</p>
			<p>
				salary is {{employee.salary | currency}}
			</p>
		</div>
		<div>
			<button ng-click="count=count+1">Click here</button>
			<p>Count = {{count}}</p>
		</div>
		<div>
			<button ng-click="toggleSpy()">Click here</button>
			<p ng-show="isSpy">Spy Mode Engaged</p>
			<p ng-hide="isSpy">Spy Mode Disengaged</p>
		</div>
	</body>
</html>